y_cloud_id = "{{vault_y_cloud_id}}"
y_token = "{{vault_y_token}}"
y_folder_id = "{{vault_y_folder_id}}"
y_zone = "{{vault_y_zone}}"
y_image_id_ubuntu = "{{vault_y_image_id_ubuntu}}"
y_image_id_centos = "{{vault_y_image_id_centos}}"
y_user_id = "{{vault_y_user_id}}"
meta_data = "{{vault_y_data_user_file_path}}"
domain = "{{vault_y_data_host}}"
declaration = "{{vault_declaration}}"
db_user = "{{vault_y_db_user_name}}"
db_password = "{{vault_y_db_password}}"

